body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Page_1_-_portrait_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:768px;
    height:1024px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:768px;
    height:1024px;
}

.u1 {
    position:absolute;
    left:2px;
    top:504px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:0px;
    top:514px;
    width:255px;
    height:252px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:258px;
}

.u3 {
    position:absolute;
    left:2px;
    top:118px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

